html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
    background-color: rgb(87, 87, 87);
}

body{
    margin:0;
    padding:0;
}

section{
    height: 90vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;

}

nav{
    position: sticky;
    top: 0vh;
    height: 10vh;
    background-color: rgb(204, 204, 204);
}