html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 30px;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

nav{
    display: none;
    height: 30px;
}