html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 10vh;
    background-color: rgb(87, 87, 87);
}

section{
    height: 90vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;

}

nav{
    position: sticky;
    top: 0;
    height: 10vh;
    background-color: rgb(204, 204, 204);
}